extends ../layout

block body
  .container
    h1 Coach Registration
    .row
      .col-md-7
        form.form-horizontal(method="post", action="/user/create", role="signup")
          .form-group
            label.col-sm-2.control-label(for="nickname") Nickname
            .col-sm-10: input.form-control#nickname(type="text", name="nickname", placeholder="Coach Petrov", required)
          .form-group
            label.col-sm-2.control-label(for="email") Address
            .col-sm-10
              input.form-control#email(type="email", name="email", placeholder="ivan@petrov.ru", required)
              p.help-block We only use your email for administrative purposes. We don't spam.
          .form-group
            label.col-sm-2.control-label(for="password") Password
            .col-sm-10: input.form-control#password(type="password", placeholder="password", name="password", required)
          .form-group
            label.col-sm-2.control-label.sr-only(for="passwordpassword") Confirm Password
            .col-sm-10: input.form-control#passwordpassword(type="password", name="passwordpassword", placeholder="password, again", required)
          .form-group
            .col-sm-4.col-sm-offset-8
              button.btn.btn-success(type="submit") Register
              button.btn.btn-danger.pull-right(type="reset") Wimp out
          input(type="hidden", value=_csrf, name="_csrf")
      .col-md-5
        .well
          p Welcome to the International Communist Expat Hockey league. Welcome to ICE Hockey.
          p.
            Before you begin, you must register with the league. Once registered
            you'll be able to being building your team. In order to register you
            will need to provide the name you which to go as (don't worry Komrade,
            we understand and accept aliases), an address we can reach you, and
            a password to enter the club house.
          p Once we confirm your address, we'll create your coaches card and you can get started building your team.
